<%= link_to beach_path(beach) do %>
<div class="location-card me-3" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(https://spot-thumbnails.cdn-surfline.com/spots/5842041f4e65fad6a7708bc0/5842041f4e65fad6a7708bc0_1500.jpg)">
  <h1 style="position: absolute; bottom: 55px; left: 15px; font-size: 35px"><%= beach.name %></h1>
  <div class="d-flex" style="background-color: rgba(97, 216, 239, 0.7); font-size: 12px; position: absolute; top: 30px; right: 0; padding: 5px 15px; border-radius: 15px 0 0 15px;"><p style="margin-bottom: 0px;">Rides: <%= beach.rides.count %></p></div>
  <h3 style="position: absolute; bottom: 35px; left: 15px; font-size: 13px; margin-bottom: 0;"><i class="fa-solid fa-location-dot"></i> <%= beach.location.name %></h3>
  <div class="d-flex" style="position: absolute; bottom: 30px; right: 15px;">
    <div class="me-2"style="background-color: green; border-radius: 50%; font-size: 16px; height: 25px; width: 25px;">
      <div style="display: flex; justify-content: center; height: 25px;">
        <p><i class="fa-solid fa-wind"></i></p>
      </div>
    </div>
    <div style="background-color: orange; border-radius: 50%; font-size: 16px; height: 25px; width: 25px;">
      <div style="display: flex; justify-content: center;">
        <p><i class="fa-solid fa-water"></i></p>
      </div>
    </div>
  </div>
</div>
<% end %>
