.btn-search {
  background-color: #61d7ef;
	padding: 7px 20px;
  border-radius: 0 25px 25px 0;
	color: white;
  vertical-align: top;
  border-width: 0px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  clip-path: inset(-10px -10px -10px 0px);
  height: 50px;
}

.btn-search:hover {
  background-color: #2AC7E5;
}

.btn-nav {
  background-color: #61D8EF;
	padding: 7px 20px;
  border-radius: 20px;
	color: white;
  vertical-align: top;
  border-width: 0px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-nav:hover {
  background-color: #2AC7E5;
  color: white;
}

.btn-form {
  background-color: #61D8EF;
	padding: 7px 20px;
  border-radius: 20px;
  color: white;
  border-width: 0px;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin: 0 auto;
  text-decoration: none;
}

.btn-form:hover {
  background-color: #2AC7E5;
  color: white;
}

.btn-forgot {
  font-size: 12px;
  text-decoration: none;
  color: #6C757D;
}

.btn-forgot:hover {
  color: #474c50;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .btn-search {
    height: 40px;
    border-radius: 20px;
  }
}
