.card-location {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 250px;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

// .card-container {
//   display: inline;
//   overflow-x: scroll;
//   white-space: nowrap;
// }

// .card {
//   width: 200px;
//   height: 300px;
//   margin-right: 10px;
//   background-color: #f2f2f2;
//   display: inline-block;
//   white-space: normal;
// }
