.conditions-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.container .card-date {
  font-size: 12px;
}

.container-rides-index-card {
  height: 800px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: -80px;
}
