.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 40px;
  border-radius: 50%;
}
.navbar-brand {
  display: flex;
}

.nav-item {
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: smaller;
  }
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.navbar-nav {
  margin-right: 1vw;
}

.mobile-pop {
  position: absolute;
  background-color: white;
  z-index: 9;
  border: groove;
  min-height: 10vh;
  right: 0;
  padding: 10px;
}

.username {
  padding-left: 15px;
  font-weight: bold;
  color: #6C757D;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .username {
    padding-left: 1px;
  }
}
