.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-big {
  width: 40px;
  border-radius: 50%;
}

.logo-small{
  width: 40px;
  border-radius: 50%;
}

.navbar-brand {
  display: flex;
}

.nav-item {
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: smaller;
  }
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.navbar-nav {
  margin-right: 1vw;
}

.mobile-pop {
  position: absolute;
  background-color: white;
  z-index: 9;
  border: groove;
  min-height: 10vh;
  right: 0;
  padding: 10px;
}

.username {
  padding-left: 15px;
  font-weight: bold;
  a {
    color: #6C757D;
    text-decoration: none;
  }
}

.brand {
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  margin-left: 5px;
}

// Large screens
@media (min-width: 576px) and (max-width: 10000px) {
  .brand {
    display: none;
  }
  .logo-small {
    display: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .username {
    padding-left: 1px;
  }
  .navbar-nav .nav-link {
    display: none;
  }
  .logo-big {
    display: none;
  }
  .navbar-toggler {
    border-style: none;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(97, 216, 239)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}
