.back-arw {
  font-size: 38px;
  margin-left: 2vw;
  color: #ffffff;
}

.bars-simple {
  font-size: 30px;
  color: #ffffff;
}


.bars-message {
  font-size: 30px;
  color: #61D8EF;
}

.back-message {
  font-size: 38px;
  margin-left: 2vw;
  color: #61D8EF;
}
