<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @beach.photo.key %>');">
  <div class="btn btn-light rounded-circle ml-3 mx-2" style="height: 60px; width: 60px;">
    <div>
      <div class="align-middle">
        <h1 style="color: #61D8EF;" class="align-middle"><i class="fa-solid fa-arrow-left"></i></h1>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #F2FDFF; border-radius: 20px 20px 0 0;">
  <div class="container">
    <div><h1 class="text-center">Rides to <%= @beach.name %></h1></div>
      <% @rides.each do |ride|%>
        <%= render "ride_card", ride: ride %>
      <%end%>
  </div>
</div>
