<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1565865735988-fd5752a02846?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="btn btn-light rounded-circle ml-3 mx-2" style="height: 60px; width: 60px; margin-top: -65px;">
    <div>
      <div class="align-middle">
        <h1 style="color: #61D8EF;" class="align-middle"><i class="fa-solid fa-arrow-left"></i></h1>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #F2FDFF; border-radius: 20px 20px 0 0;">
  <div class="container-rides-index-card mx-3">
    <div><h1 class="text-center">Rides to Sintra</h1></div>
    <% @rides.each do |ride|%>
    <%= render "ride_card", ride: ride %>
    <%end%>
  </div>
</div>
