<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://spot-thumbnails.cdn-surfline.com/spots/5842041f4e65fad6a7708bc0/5842041f4e65fad6a7708bc0_1500.jpg);">
  <div class="btn btn-light rounded-circle ml-3" style="height: 60px; width: 60px;">
    <div>
      <div class="align-middle">
        <h1 style="color: #61D8EF;" class="align-middle"><i class="fa-solid fa-arrow-left"></i></h1>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #F2FDFF; border-radius: 20px 20px 0 0;">
  <div class="container">
    <h1 class="text-center">Available rides to Sintra</h1>
      <% @rides.each do |ride|%>
        <div class="card-location mb-3" style="position: relative; background-color: white; border-radius: 20px; box-shadow: 0px 4px 14px rgba(36, 116, 132, 0.5);">
          <div class="d-flex">
            <div style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.saltywaytravel.com/wp-content/uploads/2015/12/10_PraiaPequena_WEB.jpg); width: 35%; border-radius: 20px;" class="img-ride-card">
                <div class="btn-seats-ride" style="background-color: #61D8EF; border-radius: 35px; height: 20px; width: 30px;">
                  <div class="me-5"><%=ride.seats%>/<%=ride.seats%></div>
                </div>
            </div>
            <div style="width: 50%;" class="mt-3">

              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <img src="https://www.ripcurl.eu/Content-Library/images/Team/Gabriel-Medina.jpg" style="border-radius: 50%; height: 24px; width: 24px;" />
                  <h4 style="font-size: 16px; margin-bottom: 0;">Driver: Gabriel</h4>
                </div>
                <div style="background-color: #61D8EF; border-radius: 35px; height: 30px; width: 40px;">
                  <div class="me-5">€<%=ride.price%></div>
                </div>
              </div>
                <p class="me-5 card-date">When: 18 Feb, 10am</p>
              <div class="d-flex justify-content-between">
                <div class="card-location-infos">
                  <p><i class="fa-sharp fa-solid fa-location-dot" style="color: #61D8EF;"></i>Starts</p>
                  <p><i class="fa-sharp fa-solid fa-location-dot" style="color: #61D8EF;" ></i>End</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
  </div>
</div>
