<div class="show_rides">
  <div class="title">
    <h1><strong>Quinta, 9 de março</strong></h1>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div class="card-location-infos mx-3 mt-4">
    <div class="d-flex">
     <div><p class="me-2"><i class="fa-sharp fa-solid fa-location-dot" style="color: #61D8EF;"></i></p></div>
      <div>
        <p>Rua Marquês de Pombal, n347</p>
        <div style="font-size: 13px; margin-top: -15px;"><p>Lisboa</p></div>
      </div>
    </div>
    <div class="d-flex">
     <div><p class="me-2"><i class="fa-sharp fa-solid fa-location-dot" style="color: #61D8EF;"></i></p></div>
      <div>
        <p>Rua da Praia Grande</p>
        <div style="font-size: 13px; margin-top: -15px;"><p>Sintra</p></div>
      </div>
    </div>
  </div>
</div>

<div>
  <hr style="border-width: 8px; border-color:#a9a6a6;">
</div>

<div class="d-flex justify-content-between mx-2" style="margin-bottom: -14px;">
  <div>
    <p>Price per seat:</p>
  </div>
  <div style="position: relative;">
    <div style="background-color: #61D8EF; border-radius: 35px; height: 26px; width: 55px;">
      <div style="position: absolute; right: 3px;">€10,00</div>
    </div>
  </div>
</div>

<div>
  <hr style="border-width: 8px; border-color:#a9a6a6;">
</div>

<div>
  <div class="driver-sesh">
    <img src="https://www.ripcurl.eu/Content-Library/images/Team/Gabriel-Medina.jpg" />
    <div class="driver-sesh-infos" style="position: relative">
      <h2>Driver name</h2>
      <p>Hello, my name is "Driver name". Born and raised in Portugal and passionate about the waves of our coast.</p>
      <div style="position: absolute; margin-top: 6px;"><i class="fa-solid fa-car"></i> Ford F-150</div>
    </div>
  </div>
</div>

<div>
  <hr style="border-width: 8px; border-color:#a9a6a6;">
</div>

<div>
  <div class="ride-details">
    <h2>Ride Details</h2>
  </div>
  <div class="d-flex">
    <i class="fa-solid fa-paw paw-icon"></i>
    <p>pets allowed</p>
  </div>
</div>
